* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clear-fix {
    clear: both;
}

.container {
    width: 85%;
    margin: auto;
}

ul {
    list-style-type: none;
}

/* Start Genaral  */
.heading {
    padding-bottom: 30px;
}

.heading h2 {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #333333;
    text-align: center;
}

.heading .underline {
    width: 15%;
    margin: 0 auto;
    text-align: center;
}

.heading .underline span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ff305b;
    margin-bottom: 5px;

}

.heading .underline .line-one {
    width: 50%;
    margin-left: auto;
    margin-right: auto;


}

/* End Genaral  */
/* font-family: 'Roboto', sans-serif;
font-family: 'Source Sans 3', sans-serif; */

/* start Navbar */
.navbar {
    /* background: #ff305b; */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.logo {
    float: left;
    padding: 0 25px;
}

.logo a {
    display: inline-block;
    padding: 16px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #ff305b;
    text-decoration: none;
}

.links {
    float: right;
    padding: 0 15px;
}

.links ul li {
    float: left;
    padding: 0 8px;
}

.links ul li a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: white;
    padding: 20px 0;
    letter-spacing: .5px;
}

.links ul li a.active,
.links ul li:hover a {

    color: #ff305b;

}

@media(max-width:480px) {
    ul {
        display: none;
    }
}

/* End Navbar */
/* Start Main */
.main {
    background-image: url("../image/hero.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.main .m-text {
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
    text-align: center;
    padding-top: 200px;

}

.main .m-text h1 {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 70px;
    font-family: 700;
    color: #ff305b;
}

.main .m-text p {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;

}

.main .m-text p.special {
    font-weight: 300;
    font-size: 26px;
    width: 210px;
    border-right: 2px solid rgba(255, 255, 255, 0.788);
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.5s both infinite alternate;
}

@keyframes typing {

    from {
        width: 200px
    }

    to {
        width: 340px;
    }
}

@media(max-width:480px) {
    .main .m-text h1 {
        font-size: 55px;
    }

    .main .m-text p {
        font-size: 18px;

    }
}

/* End Main */
/* Start information */
.information {
    padding: 80px 0;
    margin-bottom: 50px;
}

.information .box {
    float: left;
    width: calc(100%/2);
    /* background-color: #318d6e; */
    padding: 0 15px;
}



.information .box img {
    width: 100%;
    height: auto;
    border-radius: 5px;

}


.information .box .contain {
    border-radius: 5px;
    width: 70%;
    margin: auto;
    position: relative;


}

.information .box .contain .boxing {
    overflow: hidden;
    position: relative;
}

.information .box .contain::before {
    content: "";
    border: 8px solid #333333;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50px;
    left: -50px;
    border-radius: 5px;
    z-index: -1;
}

.information .box .caption {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    transform: translateY(100%);
    transition: transform 1.5s;
    border-radius: 5px;

}

.caption .icons {
    width: 35%;
    margin: auto;
    padding-top: 200px;
}

.caption .icons i {
    padding-left: 10px;
    color: white;
    font-size: 18px;
}

.information .contain:hover .caption {
    transform: translateY(0);
}

.inner-box {
    padding-left: 25px;
}

.information .box h2 {
    position: relative;
    padding-left: 10px;
    margin-bottom: 20px;
    color: #333333;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 34px;
    font-weight: 600;
}

.information .box h2::before {
    content: "";
    border-left: 5px solid #ff305b;
    position: absolute;
    width: 2px;
    height: 45%;
    top: 26%;
    left: 0;
}

.information .box p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
    padding-bottom: 20px;

}

.dash-line {
    border-bottom: 1px dashed #999999;
    margin-bottom: 20px;
}

.information .box table td {
    padding-right: 50px;
}

.information .box p span {
    color: #333333;
    font-weight: 600;
}

.information .box button {
    border: none;
    background-color: #ff305b;
    color: #ffffff;
    /* padding: 15px 24px; */
    margin-left: 10px;
    font-weight: 400;
    border-radius: 3px;
}
.information .box button a {
   text-decoration: none;
   background-color: #ff305b;
   color: #ffffff;
   padding: 15px 24px;
   font-weight: 400;
   border-radius: 3px;
}
.information .box button:hover a{
    background-color: red;
}
@media(max-width:480px) {
    .contain {
        width: 100%;
    }

    .information .box {
        width: 100%;
        padding: 0;
    }

    .information {
        padding: 40px 0;
        margin-bottom: 20px;
    }

    .information .box .contain::before {
        border: none;

    }

    .information .box table td {
        padding-right: 0;
    }

    .inner-box {
        padding-left: 0;
    }

    .caption .icons {
        width: 50%;
        margin: auto;
        padding-top: 140px;
    }

    .caption .icons i {
        padding-left: 10px;
        color: white;
        font-size: 15px;
    }

    .information .box table td {
        padding-right: 50px;
        padding: 5px 0;
        font-size: 14px;
        padding-right: 7px;
    }

    .information .box p {
        font-size: 14px;
        line-height: 20px;
    }

}

/* End information Section  */
/* Start Our Service  */
.Our-service {
    padding: 60px 0;
    background-color: #f1f1f1;
}

.Our-service .box {
    float: left;
    width: calc(100%/4);
    text-align: center;
    padding: 30px 15px;
    transition: 1s all;

}
.Our-service .box:hover {
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
    border-radius: 2px;

}

.Our-service .box i {
    color: #ff305b;
    font-size: 36px;
    margin-bottom: 15px;
    transition: 1s all;
}
.Our-service .box:hover  i{
    transform: scale(1.2);

}
.Our-service .box h3 {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 15px;
}

.Our-service .box p {
    color: #555555;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

@media(max-width:480px) {
    .Our-service .box {
        width: 100%;
        padding: 15px 0px;
    }
}



/* End Our Service  */
/* Start Our Protofilo */
.our-protofilo {
    padding: 80px 0;
    background-color: white;
}

.our-protofilo .menu {
    text-align: center;
}

.our-protofilo .menu ul {
    display: inline-block;
}

.our-protofilo .menu li {
    float: left;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
}

.our-protofilo .menu li a {
    text-decoration: none;
    color: #333333;
}

.our-protofilo .menu li a.active {
    text-decoration: none;
    color: #ff305b;
}

.our-protofilo .gallary {}

.our-protofilo .gallary .img-box {
    float: left;
    width: calc(100%/3);
    padding: 15px 15px;
    position: relative;
    overflow: hidden;
}

.img-box-inner {
    position: relative;
}


.our-protofilo .gallary .overlay-img {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 0;
    transition: 1s opacity;
}

.our-protofilo .gallary .overlay-img i {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    color: #ff305b;
}

.information .box .icons i:hover {
    color: #ff305b;
}

.our-protofilo .gallary .img-box:hover .overlay-img {
    cursor: pointer;
    opacity: 1;
}

.our-protofilo .gallary .img-box img {
    width: 100%;
    display: block;
}

.information .box button:hover {
    background-color: red;
    cursor: pointer;
}

@media(max-width:480px) {
    .our-protofilo {
        padding: 40px 0;
    }

    .our-protofilo .menu li {
        font-size: 14px;
        padding: 10px;
    }

    .our-protofilo .gallary .img-box {
        width: 100%;
        padding: 15px 0px;
    }
}

/* End Our Protofilo */
/* Start Status */
.Status {
    background-color: #f1f1f1;
    padding: 80px 0;
}

.Status .box {
    float: left;
    width: calc(100%/4);
    text-align: center;

}

.Status .box i {
    color: #ff305b;
    font-size: 26px;
    margin-bottom: 10px;
}

.Status .box .number {
    font-family: 'Source Sans 3', sans-serif;
    color: #333333;
    font-weight: 800;
    font-size: 26px;
    margin-bottom: 10px;
}

.Status .box p {
    font-family: 'Source Sans 3', sans-serif;
    color: #555555;
    font-weight: 600;
    font-size: 16px;
}

@media(max-width:480px) {
    .Status {

        padding: 40px 0;
    }

    .Status .box {

        width: 100%;
        text-align: center;
        margin-bottom: 5px;

    }
}

/* End Status */
/* Start Cient FeedBack  */
.client {
    padding: 80px 0;
}

.feed-back {
    width: 60%;
    margin: auto;
    padding: 40px;
    background-color: #f1f1f1;
    position: relative;
    overflow: hidden;
}

.feed-back::before {
    content: "";
    width: 150px;
    height: 180px;
    background-color: #ff305b;
    position: absolute;
    left: -87px;
    top: 0;
    transform: skew(-40deg);
    z-index: 1;
}

.client .feed-back .box {
    float: left;
}

.client .feed-back .box.right {
    width: 80%;
    /* background-color: #ff305b; */
}

.client .feed-back .box.left {
    width: 20%;

    position: relative;
    z-index: 2;
}

.client .feed-back .box .img-box {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;

}

.client .feed-back .box img {
    width: 100%;

}

.client .feed-back .box h3 {
    font-family: 'Source Sans 3', sans-serif;
    color: #333333;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 10px;
}

.client .feed-back .box .location {
    font-family: 'Source Sans 3', sans-serif;
    color: #777777;
    font-size: 15px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.client .feed-back .box .location:hover {
    text-decoration: none;
    cursor: pointer;
}

.client .feed-back .box p {
    font-family: 'Roboto', sans-serif;
    color: #555555;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.client .feed-back .box .star-box {
    float: left;
    color: yellow;
    font-size: 12px;
}

.client .feed-circle {
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #ff305b;
}

.client .feed-circle i.active {
    width: 30px;
    border-radius: 10px;
    background-color: #ff305b;
}


@media(max-width:480px) {
    .feed-back {
        width: 100%;
        padding: 10px;
    }

    .feed-back::before {
        width: 100px;
        height: 150px;
    }

    .client .feed-back .box h3 {
        font-size: 25px;
        margin-bottom: 0px;
    }

    .client .feed-back .box p {
        font-size: 12px;
        margin-bottom: 0px;
    }

    .client .feed-back .box.right {
        padding-left: 20px;
    }
}

/* End Cient FeedBack  */
/* Start Our Blog */
.our-blog {
    padding: 80px 0;
    background-color: #f1f1f1;
}

.our-blog .our-blog-boxes .box {
    float: left;
    width: calc(100%/3);
    padding: 0 15px;
}

.our-blog .our-blog-boxes .inner-box-blog {
    background-color: white;
}

.our-blog .our-blog-boxes .box .content-box {

    padding: 15px;
}

.our-blog .our-blog-boxes .box img {
    width: 100%;
    /* margin-bottom: 10px; */
}

.our-blog .our-blog-boxes iframe {
    width: 100%;
    min-height: 33vh;
}

.our-blog .our-blog-boxes .title {
    font-family: 'Roboto', sans-serif;
    color: #555555;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.our-blog .our-blog-boxes h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}

.our-blog .our-blog-boxes h3:hover {
    color: #ff305b;
    cursor: pointer;
}

.our-blog .our-blog-boxes p {
    font-family: 'Roboto', sans-serif;
    color: #555555;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 25px;
}

.our-blog .our-blog-boxes button {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0;
    border: none;
    text-transform: uppercase;
}

.our-blog .our-blog-boxes button:hover {
    color: #ff305b;
    cursor: pointer;
}

.our-blog .our-blog-boxes button i {
    margin-left: 2px;
    font-size: 12px;
}

@media(max-width:480px) {
    .our-blog {
        padding: 40px 0;
    }

    .our-blog .our-blog-boxes .box {
        width: 100%;
        padding: 0px;
    }

}

/* End Our Blog */
/* Start Our Contact */
.our-contact {
    padding: 40px 0;
}

.our-contact .form {
    width: 60%;
    margin: auto;
}

.our-contact .form input {
    width: calc(95%/2);
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.our-contact .form input.Name {
    float: left;
}
.our-contact .form input.Name:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
    border: 1px solid #843534;
    outline: 0 ;
}

.our-contact .form input.Email {
    float: right;
}
.our-contact .form input.Email:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
    border: 1px solid #843534;
    outline: 0 ;
}

.our-contact .form input.Subject {
    width: 100%;
    margin: 20px 0;
   
}
.our-contact .form input.Subject:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
    border: 1px solid #843534;
    outline: 0 ;
}

.our-contact .form textarea {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: both;
    overflow: auto;
}
.our-contact .form textarea:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
    border: 1px solid #843534;
    outline: 0 ;
}

.our-contact .form button {
    padding: 10px 20px;
    margin-top: 40px;
    background-color: #ff305b;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ffffff;
    border: none;
}

.our-contact .form button:hover {
    background-color: red;
    cursor: no-drop;
}

@media(max-width:480px) {
    .our-contact {
        padding: 40px 0;
    }

    .our-contact .form {
        width: 100%;
        padding: 0px;
    }

    .our-contact .form input.Name {
        width: 100%;
        margin-bottom: 20px;
    }

    .our-contact .form input.Email {
        width: 100%;
    }

}

/* End Our Contact */
/* Start Footer */
.footer {
    background-color: #333333;
    text-align: center;
    padding: 60px 0;
}

.footer .icons {
    display: inline-block;
    margin-bottom: 20px;
}

.footer .icons a {
    color: #ffffff;
    padding: 0 10px;
}

.footer .icons a i {
    color: #ffffff;
    font-size: 18px;
}

.footer .icons a i:hover {
    color: #ff305b;
}

.footer p {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.footer p a {
    font-family: 'Roboto', sans-serif;
    color: #ff305b;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
}

@media(max-width:480px) {
    .footer {
        padding: 30px 0;
    }

    .footer p {
        font-size: 15px;
        line-height: 25px;

    }
}

/* End Footer */